{% extends "blog/home_page.html" %}
{% block content %}
    <form action="/createblog" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title_value" name="title_value">
        </div>
        <button type="submit" class="btn btn-primary" style="position:relative;top:340px;left:800px;">Submit</button>
        <div class="form-group">
            <label for="blogpost">Enter Blog</label>
            <!--<textarea class="form-control" rows="5" id="content_value" name="content_value"></textarea> -->
            <!--<textarea class="ckeditor" id="content_value" name="content_value"></textarea> -->
            <textarea class="ckeditor" cols="80" rows="80" id="content_value" name="content_value" rows="10">
            <script>
                CKEDITOR.replace( 'content_value' );
            </script>
        </div>
        
  </form>
{% endblock content %}